.about-us {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  font-size: 40px;
  line-height: auto;
  background-color:snow;
  color:blueviolet;
}
#first-name {
  color: blanchedalmond;
}
#last-name {
  color:blueviolet
}
#full-name {
  color:yellowgreen;
}
#age {
  color: burlywood;
}
#address {
  color: turquoise;
}
#email {
  color:tomato;
}
#phone-number {
  color:cadetblue;
}
#about-your{
  color:cadetblue;
  font-size: 50px;
}